<div class="container">
  <div class="row">

    <div class="col-md-6 mb-5">
      <div class="card shadow-effect" routerLink='/categories'>
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
          <h2 class="text-theme-primary">Categories</h2>
          <p>Manage Categories Here.</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-5">
      <div class="card shadow-effect" routerLink='/product-details'>
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fas fa-clipboard-list"></i></h1>
          <h2 class="text-theme-primary">Products</h2>
          <p>Manage Your Product Details Here.</p>
        </div>
      </div>
    </div>

    <!-- <div class="col-md-6 mb-5">
      <div class="card shadow-effect"  routerLink='/user-details'>
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fas fa-users"></i></h1>
          <h2 class="text-theme-primary">Users</h2>
          <p>Manage User Profiles Here.</p>
        </div>
      </div>
    </div> -->

    <div class="col-md-6 mb-5">
      <div class="card shadow-effect" routerLink='/orders'>
        <div class="card-body text-center bg-secondary-theme">
          <h1 class="mt-3 text-theme-primary"><i class="fas fa-shopping-cart"></i></h1>
          <h2 class="text-theme-primary">Orders</h2>
          <p>View and manage orders, update status and tracking info.</p>
        </div>
      </div>
    </div>
  </div>
</div>
